@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 1100px) {
  .container {
    flex-direction: row;
  }
  .card {
    width: 30%;
  }
  .card-header {
    font-size: 30%;
  }
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: row;
  }
  .card {
    width: 40%;
  }
  .card-header {
    font-size: 90%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: row;
  }
  .card {
    width: 70%;
  }
  .card-header {
    font-size: 60%;
  }
}
@media screen and (max-width: 400px) {
  .contianer {
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
  .card-header {
    font-size: 30%;
  }
}
